:root {
  --main-color: white;
  --accent-color: #253B4D;
  --border-radius: 12px;
  --input-bg-color: #E8F2F9;
  --text-color: black;

  --chip-bg-color: var(--accent-color);
  --chip-text-color: var(--main-color);
  --dropdown-bg-color: var(--main-color);
  --checkbox-color: var(--accent-color);
  --dropdown-btn-bg-color: var(--accent-color);
  }